@import url(tokens.css);

@font-face {
  font-family: "Inknut Antiqua";
  font-weight: normal;
  src: url(../assets/fonts/InknutAntiqua-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Inknut Antiqua";
  font-weight: bold;
  src: url(../assets/fonts/InknutAntiqua-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url(../assets/fonts/Inter-Regular.ttf) format("truetype");
}

body {
  font-family: "Inknut Antiqua", serif;
  color: var(--psuedo-black);
  background-color: var(--psuedo-white);
  touch-action: pan-y;
}

body:has(dialog.blocking[open]) {
  overflow: hidden;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

/* General */

button {
  font-size: 0.875rem;
  font-family: "Inknut Antiqua", sans-serif;
  color: var(--psuedo-black);
}

.hidden {
  visibility: hidden;
}

.text__secondaryColor {
  color: var(--secondary-red);
}

.emoji {
  font-size: 1.2em;
  margin-right: 0.2em;
}

.chevron-button {
  background-color: var(--psuedo-white);
  border: none;
  text-align: left;
  border-radius: 0.75rem;
  box-shadow: var(--default-shadow);
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  position: relative;
}

.chevron-button::after {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: url(../assets/images/icons/chevron_icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 1rem;
}

/* Header */

.profile-button {
  position: fixed;
  right: 1rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--tertiary-teal);
  overflow: hidden;
  box-shadow: var(--default-shadow);
  z-index: 5;
}

.profile-button:active {
  filter: brightness(0.9);
}

.profile-button img {
  width: 110%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

dialog:not([open]) {
  display: none;
}

dialog.blocking[open] {
  pointer-events: auto;
}

#css-asset-preloader {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -100;
  background-image: url(../assets/images/icons/heart_icon.svg);
}

/* Main */

main {
  padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

.end-of-content-text {
  font-size: 0.875rem;
  color: var(--psuedo-black-lightened);
  text-align: center;
  font-family: "Inter", sans-serif;
}

/* Footer */

#main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--primary-gold);
  background-image: var(--gold-gradient);
  background-size: 100vw;
  height: 5.75rem;
  width: 100%;
  box-shadow: var(--up-shadow);
  border-radius: 0.75rem 1rem 0 0;
  z-index: 20;
}

#main-footer::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 10vw;
  top: calc(-10vw + 2px);
  background-color: var(--primary-gold);
  background-image: var(--gold-gradient);
  -webkit-mask-image: url(../assets/images/icons/footer_pattern.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center bottom;
  -webkit-mask-size: 51%;
  mask-image: url(../assets/images/icons/footer_pattern.svg);
  mask-repeat: no-repeat;
  mask-position: center bottom;
  mask-size: 51%;
}

#main-footer nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

#post-button {
  position: relative;
}

.post-button {
  background-color: var(--psuedo-white);
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid var(--primary-gold);
  padding: 1rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--default-shadow);
}

.post-button img {
  width: 3rem;
  height: auto;
}

.post-button:active {
  filter: brightness(0.9);
}

#footer-decor {
  fill: var(--primary-gold);
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: auto;
  z-index: -1;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__button:not(#post-button) {
  background: none;
  border: none;
  width: 4rem;
}

.footer__button__active:not(#post-button) {
  background-color: var(--psuedo-white);
  height: 7rem;
  border-radius: 0.75rem 1rem 0 0;
  outline: 2px solid var(--primary-gold);
  box-shadow: var(--default-shadow);
}

.footer__button__active:not(#post-button) img {
  margin-bottom: 2rem;
}

/* Posts */

.post-wrapper {
  margin: 0 0 3rem 0;
}

.image-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  border-radius: 0.75rem;
  box-shadow: var(--default-shadow);
}

.image-wrapper img {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.post-wrapper address {
  font-style: normal;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.375rem;
}

.post-wrapper address a {
  text-decoration: none;
  color: var(--psuedo-black);
}

.post-wrapper address::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url(../assets/images/icons/pin_icon.svg);
  background-position: center;
  background-size: cover;
  margin-right: 0.25rem;
}

span.city-state {
  color: var(--psuedo-black-lightened);
  margin-left: 0.375rem;
}

.post-wrapper figcaption {
  margin-top: 0.5rem;
}

.post-wrapper figcaption a {
  color: var(--psuedo-black);
  font-size: 0.9375rem;
  text-decoration: none;
}

.post-description {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  margin: 0;
}

.button-counter {
  background: none;
  border: none;
  font-family: "Inknut Antiqua", serif;
  font-size: 0.75rem;
  display: inline-block;
  width: 6.675rem;
  text-align: left;
  white-space: nowrap;
}

figure .button-wrapper {
  display: flex;
  margin-bottom: 0.25rem;
}

.leave-comment {
  width: 100%;
}

.small-white-icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--psuedo-white);
  box-shadow: 0px 4px 5px 1px rgba(128, 123, 123, 0.495);
}

.drink-info-button {
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.drink-info-modal {
  background: none;
  border: none;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0;
  padding: 0;
}

.drink-info-modal button {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 10rem;
  line-height: 1.5rem;
  font-family: "Inter", sans-serif;
}

.drink-info-svg {
  position: absolute;
  pointer-events: none;
}

.stars::before {
  content: "";
  display: inline-block;
  height: 1rem;
  background: url(../assets/images/icons/star_icon.svg);
  background-size: 1rem 1rem;
  background-repeat: space no-repeat;
}

.stars-5::before {
  width: 5.75rem;
}

.stars-4::before {
  width: 4.6rem;
}

.stars-3::before {
  width: 3.45rem;
}

.stars-2::before {
  width: 2.3rem;
}

.stars-1::before {
  width: 1rem;
}

.likes-counter .emoji:not(.user-liked-counter .emoji) {
  filter: grayscale(1) brightness(1.5);
}

.user-liked-counter {
  color: var(--secondary-red);
  letter-spacing: -0.005em;
  font-weight: bold;
}

.liked-post::after {
  content: "";

  display: block;
  width: 100%;
  aspect-ratio: 1;

  position: absolute;
  left: 0;
  top: 0;
  
  z-index: 20;

  background: url(../assets/images/icons/heart_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
  animation-name: liked-post-animation;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: none;
  animation-iteration-count: 1;
}

@keyframes liked-post-animation {
  0% { transform: scale(0); }
  15% { transform: scale(0.8); }
  85% { transform: scale(0.8); }
  100% { transform: scale(0); }
}

.loading-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.25rem solid var(--psuedo-white);
  border-top: 0.25rem solid var(--primary-gold);
  border-bottom: 0.25rem solid var(--primary-gold);
  
  animation-name: loading-spinner;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

@keyframes loading-spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#post-feed-container:empty + #post-feed-footer {
  margin-top: 5rem;
}

#post-feed-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

#post-feed-footer[data-loading=true] .loading-icon {
  display: block;
}

#post-feed-footer[data-loading=false] .loading-icon {
  display: none;
}

#post-feed-footer[data-loading=true] .end-of-content-text {
  display: none;
}

#post-feed-footer[data-loading=false] .end-of-content-text {
  display: block;
}

/* Post view */
html:has(form#post-upload) {
  overscroll-behavior-y: none;
  overflow-y: hidden;
}

.image-upload-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
  box-shadow: var(--default-shadow);
  margin-bottom: 1rem;
}

.image-upload-wrapper:not(:has(#image-preview[src])) {
  border: 2px solid var(--tertiary-teal);
}

.image-upload-wrapper:has(#image-preview[src]) .hide-on-upload {
  display: none;
}

.image-upload-wrapper label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: absolute;
  z-index: 100;
}

.image-upload-wrapper label img {
  width: 5rem;
  height: auto;
  margin-bottom: 0.675rem;
}

#image-upload {
  display: none;
}

#image-preview {
  pointer-events: none;
}

#close-post-interface {
  background: none;
  border: none;
  padding: 0;
}

#close-post-interface::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../assets/images/icons/close_icon.svg);
  background-position: center;
  background-size: contain;

}

#desc-input {
  display: block;
  width: 100%;
  resize: none;
  height: 9rem;
  border: none;
  background-color: var(--psuedo-white);
  box-shadow: var(--default-shadow);
  border-radius: 0.75rem;
  font-size: 0.875rem;
  color: var(--psuedo-black);
  font-family: "Inter", sans-serif;
  padding: 0.875rem;
}

#desc-input:focus, #desc-input:active {
  outline: 2px solid var(--tertiary-teal);
}

#desc-input::placeholder {
  color: var(--psuedo-black-lightened);
}

.post-view h2 {
  margin-top: 0.5rem
}

.form-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--psuedo-white);
}

.form-nav > div {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 3rem;
  width: 100%;
  padding: 0 0.5rem;
}

.form-nav button {
  flex: 1;
  margin: 0 0.5rem;
}


.primary-button,
.secondary-button {
  padding: 0.5rem 2.7rem;
  font-size: 0.875rem;
  border-radius: 0.75rem;
  color: var(--psuedo-black);
  box-shadow: var(--default-shadow);
  font-weight: normal;
  font-family: "Inknut Antiqua", serif;
  white-space: nowrap;
}

.primary-button {
  border: 2px solid var(--primary-gold);
  background-color: var(--primary-gold);
  background-image: var(--gold-gradient);
  background-size: 100vw;
}

.secondary-button {
  background-color: var(--psuedo-white);
  border: none;
}

.tertiary-button {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  background: none;
  border: none;
  font-weight: normal;
  font-family: "Inknut Antiqua", serif;
  white-space: nowrap;
}

.primary-button:disabled {
  color: var(--psuedo-black-lightened);
  background-color: var(--psuedo-white);
  background-image: none;
}

.post-view {
  display: none;

  flex-direction: column;
  height: calc(100vh - 11.5rem);
}

.post-view[data-active=true] {
  display: flex;
}

.fw-text-input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.75rem;
  border-radius: 0.75rem;
  border: none;
  outline: none;
  box-shadow: var(--default-shadow);
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;

  background: url(../assets/images/icons/search_icon.svg);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: 0.75rem center;
}

.fw-text-input::placeholder {
  color: var(--psuedo-black-lightened);
}

.suggested-wrapper {
  overflow-y: auto;
  margin: 0 -3rem;
  padding: 0 3rem;
}

#suggested-search-stores h3 {
  margin-top: 1.5rem;
}

.suggested-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggested-wrapper li {
  margin: 0.75rem 0;
}

.suggested-wrapper button {
  box-shadow: var(--default-shadow);
  border-radius: 0.75rem;
  padding: 0.25rem 0.75rem;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  text-align: left;
}

.suggested-wrapper button[data-selected] {
  outline: 2px solid var(--tertiary-teal);
}

.suggested-wrapper address {
  color: var(--psuedo-black-lightened);
  font-style: normal;
  font-size: 0.75rem;
}

.suggested-wrapper button[data-selected] address {
  color: var(--psuedo-black);
}

#location-rating-modal {
  outline: none;
  border: none;
  border-radius: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.25rem 0.75rem 0.1rem #3E363F50, 0 0 7rem 2rem var(--psuedo-white);
  background-color: var(--psuedo-white);
  width: calc(100vw - 2rem);
  flex-direction: column;
}

#location-rating-modal[open] {
  display: flex;
}

#location-rating-modal h3 {
  font-size: 1rem;
  line-height: 2rem;
}

.save-stars-button {
  width: 100%;
}

#add-items #current-items {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
}

#current-item-wrapper + span {
  display: none;
  color: var(--psuedo-black-lightened);
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
}

#current-item-wrapper:empty + span {
  display: inline-block;
}

#current-items:has(#current-item-wrapper:empty) + #add-more-btn .hide-when-no-items {
  display: none;
}

#current-items:not(:has(#current-item-wrapper:empty))::after {
  content: "";
  display: block;
  width: 45vw;
  height: 2px;
  background-color: var(--primary-gold);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem 0;
}

#add-items #add-more-btn {
  width: 100%;
}

.star-input-wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.star-input-wrapper button {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  background-image: url(../assets/images/icons/star_icon.svg);
  background-size: contain;
  margin: 0 0.175rem;
}

.star-input-wrapper button:not([data-selected]) {
  filter: grayscale();
}

.review-location-wrapper {
  margin-top: 0.675rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-location-wrapper p {
  margin: 0;
  font-size: 0.875rem;
  width: 80%;
}

.review-location-wrapper address {
  font-style: normal;
  line-height: 1rem;
  font-size: 0.75rem;
  color: var(--psuedo-black-lightened);
  width: 80%;
}

.post-nav-wrapper {
  display: flex;
  align-items: center;
}

progress {
  appearance: none;
  flex: 1;
  height: 1rem;
  margin-left: 0.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: var(--up-shadow);
}

progress::-webkit-progress-bar {
  background-color: var(--psuedo-white);
}

progress::-webkit-progress-value {
  background-color: var(--primary-gold);
  background-image: var(--gold-gradient-right);
  background-size: 100%;
  transition: width 250ms ease-in-out;
}

.choose-item-modal {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  position: absolute;
  z-index: 20;
  top: 1rem;
  border-radius: 0.75rem;
  border: none;
  box-shadow: var(--default-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choose-item-modal .choose-item-view {
  margin: 0 -3rem;
  padding: 0 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.choose-item-modal .choose-item-view[data-active] {
  flex: 1;
}

.choose-item-modal .choose-item-view > button {
  background: none;
  border: none;
  text-align: left;
  font-size: 1rem;
  padding: 0;
}

.choose-item-modal .choose-item-view > button h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choose-item-modal .choose-item-view[data-active] > button {
  font-size: 1.1rem;
}

.choose-item-modal .choose-item-view > div {
  display: none;
  flex: 1;
  margin: -3rem;
  padding: 3rem;
  flex-direction: column;
  overflow: hidden;
}

.choose-item-modal .choose-item-view[data-active] > div {
  display: flex;
}

.suggested-search-items {
  flex: 1;
}

.suggested-search-items h3 {
  margin-top: 1rem;
}

.choose-item-modal .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.choose-item-modal .buttons button {
  flex: 1;
}

.choose-item-modal .buttons button:not(:first-child) {
  margin-left: 1rem;
}

.item-loc-modal::before {
  content: "";
  transform: translateX(-50%);
  left: 50%;
  display: block;
  height: 2px;
  background-color: var(--primary-gold);
  width: calc(100vw - 4rem);;
  position: relative;
}

.item-preview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: var(--default-shadow);
  border-radius: 0.75rem;
}

.item-preview-container:not(:last-child) {
  margin-bottom: 0.875rem;
}

.item-preview-container h3 {
  font-size: 1rem;
}

.destructive-button {
  color: var(--psuedo-white);
  border: 2px solid var(--secondary-red);
  background-color: var(--secondary-red);
  background-image: var(--red-gradient);
  background-size: 100vw;
}

.item-loc-modal figure {
  margin: 0;
  padding: 0;
}

.item-loc-modal figcaption {
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  color: var(--psuedo-black-lightened);
  margin-top: 0.75rem;
}